In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
df = pd.read_fwf(r"C:\Users\Utkarsh Sharma\Downloads\KWSReadings.txt")

In [21]:
df.columns

Index(['#Date      Time', 'H(Rs)', 'PA(deg)', 'Xpix', 'Ypix', 'X"', 'Y"'], dtype='object')

In [22]:
df.rename(columns = {'#Date      Time':'datetime'}, inplace = True)

In [25]:
date_time = pd.to_datetime(df['datetime'], format ='%Y-%m-%dT%H:%M:%S.%f')

In [27]:
df.index = date_time

In [28]:
df

,datetime,H(Rs),PA(deg),Xpix,Ypix,"X""","Y"""
datetime,,,,,,,
2012-12-14 02:24:06.881,2012-12-14T02:24:06.881,3.33,254.36,388,230,3163.02,-885.36
2012-12-14 02:48:03.965,2012-12-14T02:48:03.965,4.10,256.63,420,228,3924.62,-932.96
2012-12-14 04:12:53.108,2012-12-14T04:12:53.108,9.29,248.30,331,237,8500.80,-3382.40
2012-12-14 09:17:15.702,2012-12-14T09:17:15.702,24.77,262.30,471,238,24180.80,-3270.40

In [29]:
df.pop('datetime')

datetime
2012-12-14 02:24:06.881    2012-12-14T02:24:06.881
2012-12-14 02:48:03.965    2012-12-14T02:48:03.965
2012-12-14 04:12:53.108    2012-12-14T04:12:53.108
2012-12-14 09:17:15.702    2012-12-14T09:17:15.702
Name: datetime, dtype: object

In [30]:
df

                         H(Rs)  PA(deg)  Xpix  Ypix        X"       Y"
datetime
2012-12-14 02:24:06.881   3.33   254.36   388   230   3163.02  -885.36
2012-12-14 02:48:03.965   4.10   256.63   420   228   3924.62  -932.96
2012-12-14 04:12:53.108   9.29   248.30   331   237   8500.80 -3382.40
2012-12-14 09:17:15.702  24.77   262.30   471   238  24180.80 -3270.40