In [6]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_fwf(r"/Users/priyanujkashyap/Documents/GitHub/KWS24/CME Tracking/2012-12-14 LASCO C2.txt")

In [8]:
df.columns

Index(['#Date      Time', 'H(Rs)', 'PA(deg)', 'Xpix', 'Ypix', 'X"', 'Y"'], dtype='object')

In [9]:
df.rename(columns = {'#Date      Time':'datetime'}, inplace = True)

In [10]:
date_time = pd.to_datetime(df['datetime'], format ='%Y-%m-%dT%H:%M:%S.%f')

In [11]:
df.index = date_time

In [12]:
df

,datetime,H(Rs),PA(deg),Xpix,Ypix,"X""","Y"""
datetime,,,,,,,
2012-12-14 02:24:06.881,2012-12-14T02:24:06.881,2.34,249.94,346,234,2163.42,-790.16
2012-12-14 02:48:03.965,2012-12-14T02:48:03.965,3.03,250.31,373,225,2806.02,-1004.36
2012-12-14 03:46:00.026,2012-12-14T03:46:00.026,3.62,255.23,400,229,3448.62,-909.16
2012-12-14 04:08:17.411,2012-12-14T04:08:17.411,5.09,246.42,448,183,4591.02,-2003.96
2012-12-14 04:18:51.204,2012-12-14T04:18:51.204,6.11,247.14,488,169,5543.02,-2337.16
2012-12-14 04:40:28.589,2012-12-14T04:40:28.589,6.42,241.65,489,141,5566.82,-3003.56
2012-12-14 04:12:53.108,2012-12-14T04:12:53.108,7.90,239.56,315,232,6708.80,-3942.40
2012-12-14 04:23:26.400,2012-12-14T04:23:26.400,8.74,237.59,320,226,7268.80,-4614.40
2012-12-14 05:15:30.065,2012-12-14T05:15:30.065,8.51,247.03,324,238,7716.80,-3270.40
2012-12-14 05:26:05.358,2012-12-14T05:26:05.358,12.65,236.62,348,206,10404.80,-6854.40
2012-12-14 05:36:39.451,2012-12-14T05:36:39.451,13.19,237.57,353,205,10964.80,-6966.40
2012-12-14 05:47:13.552,2012-12-14T05:47:13.552,13.79,240.79,361,208,11860.80,-6630.40
2012-12-14 05:57:46.336,2012-12-14T05:57:46.336,14.29,244.96,369,214,12756.80,-5958.40
2012-12-14 06:08:18.729,2012-12-14T06:08:18.729,14.67,247.11,374,217,13316.80,-5622.40
2012-12-14 06:18:54.623,2012-12-14T06:18:54.623,15.61,242.60,377,204,13652.80,-7078.40
2012-12-14 06:29:27.715,2012-12-14T06:29:27.715,16.17,244.07,383,205,14324.80,-6966.40
2012-12-14 06:58:53.095,2012-12-14T06:58:53.095,17.44,244.02,393,200,15444.80,-7526.40

In [13]:
df.pop('datetime')

datetime
2012-12-14 02:24:06.881    2012-12-14T02:24:06.881
2012-12-14 02:48:03.965    2012-12-14T02:48:03.965
2012-12-14 03:46:00.026    2012-12-14T03:46:00.026
2012-12-14 04:08:17.411    2012-12-14T04:08:17.411
2012-12-14 04:18:51.204    2012-12-14T04:18:51.204
2012-12-14 04:40:28.589    2012-12-14T04:40:28.589
2012-12-14 04:12:53.108    2012-12-14T04:12:53.108
2012-12-14 04:23:26.400    2012-12-14T04:23:26.400
2012-12-14 05:15:30.065    2012-12-14T05:15:30.065
2012-12-14 05:26:05.358    2012-12-14T05:26:05.358
2012-12-14 05:36:39.451    2012-12-14T05:36:39.451
2012-12-14 05:47:13.552    2012-12-14T05:47:13.552
2012-12-14 05:57:46.336    2012-12-14T05:57:46.336
2012-12-14 06:08:18.729    2012-12-14T06:08:18.729
2012-12-14 06:18:54.623    2012-12-14T06:18:54.623
2012-12-14 06:29:27.715    2012-12-14T06:29:27.715
2012-12-14 06:58:53.095    2012-12-14T06:58:53.095
Name: datetime, dtype: object

In [14]:
df

                         H(Rs)  PA(deg)  Xpix  Ypix        X"       Y"
datetime
2012-12-14 02:24:06.881   2.34   249.94   346   234   2163.42  -790.16
2012-12-14 02:48:03.965   3.03   250.31   373   225   2806.02 -1004.36
2012-12-14 03:46:00.026   3.62   255.23   400   229   3448.62  -909.16
2012-12-14 04:08:17.411   5.09   246.42   448   183   4591.02 -2003.96
2012-12-14 04:18:51.204   6.11   247.14   488   169   5543.02 -2337.16
2012-12-14 04:40:28.589   6.42   241.65   489   141   5566.82 -3003.56
2012-12-14 04:12:53.108   7.90   239.56   315   232   6708.80 -3942.40
2012-12-14 04:23:26.400   8.74   237.59   320   226   7268.80 -4614.40
2012-12-14 05:15:30.065   8.51   247.03   324   238   7716.80 -3270.40
2012-12-14 05:26:05.358  12.65   236.62   348   206  10404.80 -6854.40
2012-12-14 05:36:39.451  13.19   237.57   353   205  10964.80 -6966.40
2012-12-14 05:47:13.552  13.79   240.79   361   208  11860.80 -6630.40
2012-12-14 05:57:46.336  14.29   244.96   369   214  12756.80 -5958.40
2012-12-14 06:08:18.729  14.67   247.11   374   217  13316.80 -5622.40
2012-12-14 06:18:54.623  15.61   242.60   377   204  13652.80 -7078.40
2012-12-14 06:29:27.715  16.17   244.07   383   205  14324.80 -6966.40
2012-12-14 06:58:53.095  17.44   244.02   393   200  15444.80 -7526.40